body {
    color: #061539;
    background: #7887AB;     
}

h1{
    text-align: center;
    padding-top: 20px;
}

.form-group {
    background: #061539;
    color: #7887AB;
    text-align: center;
}
.formButton{
    text-align: center;
}

.formButton .btn-primary{    
    margin-top: 20px;
    width: 200px;
}

.about {    
    color: #061539;
    background: white;    
    -webkit-box-shadow: 0 10px 6px -6px #061539;
    -moz-box-shadow: 0 10px 6px -6px #061539;
         box-shadow: 0 10px 6px -6px #061539;    
    padding: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.aboutImage {
    background: url("../Components/Home/MainHeading/louise.jpg");
    background-repeat: no-repeat;
    background-size: 200px auto;
    float: left;
    width: 250px;
    height: 220px;
    
}

.aboutText {
    line-height: 2;
    
    
}

@media all and (max-width: 450px), all and (max-height: 450px){
    .about{
        margin-left: 0;
        margin-right: 0;
        padding: 10px;
    }
    .aboutImage{
        width: 0px;
        height: 0px;        
    }
    .aboutText {
        font-size: 1em;        
    }
}


